	// REVISION ------ 1.0
// SP: ----------- CRI-025171
// DATE: --------- 19-02-2018
// DESCRIPTION: -- Elemento icon
// AUTHOR: ------- aarroyo, kugaldes, (1.0)
// WORKTEAM: ----- Anonymous-Codebreakers (1.0)
// version 1.0

// Arrow-down, icono de la classe padre. Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
@space-icon-xxs: 2.5px;
@space-icon-s: 10px;

.bel-icon-arrow-down {
    &-xxs::after {
		font-size: @font-size-img-xxs;
	    .bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
		content: @icon-arrow-down;
  	}
  	 &-xs::after {
		font-size: @font-size-img-xs;
	    .bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
		content: @icon-arrow-down;
  	}
  	 &-s::after {
		.bel-icon(@font-size-img-s);
		content: @icon-arrow-down;
  	}
  	 &-m::after {
		.bel-icon(@font-size-img-m);
		content: @icon-arrow-down;
  	}
  	 &-l::after {
		.bel-icon(@font-size-img-l);
		content: @icon-arrow-down;
  	}
  	 &-xl::after {
		.bel-icon(@font-size-img-xl);
		content: @icon-arrow-down;
  	}
}
// arrow-right, icono de la classe padre. Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-arrow-right {
    &-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-arrow-right;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-arrow-right;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-arrow-right;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-arrow-right;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-arrow-right;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-arrow-right;
    }
}
// warning, icono de la classe padre. Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-warning {
	 &-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-warning;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-warning;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-warning;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-warning;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-warning;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-warning;
    }
}
// info, icono de la classe padre. Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-info {
	 &-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-info;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-info;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-info;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-info;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-info;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-info;
    }
}
// success, icono de la classe padre. Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-success {
	 &-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-success;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-success;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-success;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-success;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-success;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-success;
    }
}
// success, icono de la classe padre. Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-validation-icon-success {
	 &-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-success;
         .bel-icon-color(@color-medium-green);
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-success;
         .bel-icon-color(@color-medium-green);
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-success;
    	 .bel-icon-color(@color-medium-green);
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-success;
         .bel-icon-color(@color-medium-green);
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-success;
         .bel-icon-color(@color-medium-green);
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-success;
         .bel-icon-color(@color-medium-green);
    }
}
// icon-error, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-error {
	 &-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-error;

    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-error;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-error;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-error;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-error;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-error;
    }
}
// icon-wireless, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-wireless {
	 &-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-wireless;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-wireless;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-wireless;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-wireless;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-wireless;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-wireless;
    }
}
// icon-back, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-back {
	 &-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-back;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-back;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-back;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-back;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-back;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-back;
    }
}
// icon-more, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-more {
	 &-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-more;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-more;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-more;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-more;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-more;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-more;
    }
}
// icon-transfer, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-transfer {
	 &-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-transfer;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-transfer;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-transfer;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-transfer;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-transfer;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-transfer;
    }
}
// icon-payments, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-payments {

	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-payments;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-payments;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-payments;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-payments;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-payments;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-payments;
    }
}
// icon-more-bar, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-more-bar {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-more-bar;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-more-bar;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-more-bar;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-more-bar;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-more-bar;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-more-bar;
    }
}
// icon-home, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-home {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-home;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-home;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-home;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-home;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-home;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-home;
    }
}
// icon-apps, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-apps {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-apps;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-apps;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-apps;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-apps;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-apps;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-apps;
    }
}
// icon-exit, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-exit {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-exit;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-exit;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-exit;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-exit;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-exit;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-exit;
    }
}
// icon-timeline, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-timeline {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-timeline;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-timeline;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-timeline;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-timeline;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-timeline;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-timeline;
    }
}
// icon-credit-card, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-credit-card {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-credit-card;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-credit-card;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-credit-card;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-credit-card;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-credit-card;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-credit-card;
    }
}
// icon-account, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-acccount {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-acccount;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-acccount;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-acccount;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-acccount;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-acccount;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-acccount;
    }
}
// icon-touchID, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-touchID {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-touchID;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-touchID;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-touchID;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-touchID;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-touchID;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-touchID;
    }
}
// icon-edit, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-edit {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-edit;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-edit;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-edit;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-edit;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-edit;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-edit;
    }
}
// icon-receipt, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-receipt {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-receipt;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-receipt;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-receipt;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-receipt;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-receipt;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-receipt;
    }
}
// icon-reload, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-reload {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-reload;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-reload;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-reload;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-reload;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-reload;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-reload;
    }
}
// icon-apartments, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-apartments {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-apartments;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-apartments;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-apartments;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-apartments;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-apartments;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-apartments;
    }
}
// icon-partnerships, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-partnerships {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-partnerships;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-partnerships;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-partnerships;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-partnerships;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-partnerships;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-partnerships;
    }
}
// icon-television, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-television {

	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-television;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-television;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-television;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-television;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-television;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-television;
    }
}
// icon-clubs, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-clubs {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-clubs;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-clubs;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-clubs;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-clubs;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-clubs;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-clubs;
    }
}
// icon-quotasandCredits, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-quotasandcredits {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-quotasandcredits;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-quotasandcredits;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-quotasandcredits;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-quotasandcredits;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-quotasandcredits;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-quotasandcredits;
    }
}
// icon-education, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-education {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-education;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-education;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-education;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-education;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-education;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-education;
    }
}
// icon-schoolsandcolleges, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-schoolsandcolleges {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-schoolsandcolleges;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-schoolsandcolleges;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-schoolsandcolleges;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-schoolsandcolleges;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-schoolsandcolleges;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-schoolsandcolleges;
    }
}
// icon-foundationsanddonations, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-foundationsanddonations {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-foundationsanddonations;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-foundationsanddonations;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-foundationsanddonations;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-foundationsanddonations;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-foundationsanddonations;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-foundationsanddonations;
    }
}
// icon-funerary, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-funerary {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-funerary;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-funerary;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-funerary;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-funerary;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-funerary;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-funerary;
    }
}
// icon-government, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-government {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-government;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-government;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-government;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-government;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-government;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-government;
    }
}
// icon-hotels, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-hotels {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-hotels;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-hotels;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-hotels;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-hotels;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-hotels;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-hotels;
    }
}
// icon-transport, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-transport {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-transport;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-transport;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-transport;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-transport;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-transport;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-transport;
    }
}
// icon-security, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-security {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-security;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-security;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-security;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-security;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-security;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-security;
    }
}
// icon-light, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-light {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-light;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-light;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-light;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-light;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-light;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-light;
    }
}
// icon-industry, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-industry {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-industry;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-industry;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-industry;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-industry;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-industry;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-industry;
    }
}
// icon-taxes, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-taxes {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-taxes;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-taxes;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-taxes;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-taxes;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-taxes;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-taxes;
    }
}




// icon-search, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-search {
    &-xs:after {
    	font-size: @font-size-img-xs;
    .bel-icon-main(@line-height: @line-height-s, @space-icon-xxs, @space-icon-xxs, middle);
  content: @icon-search;
  opacity: 0.5;
  }
    &-s:after {
    	.bel-icon-main(@line-height: @line-height-s, @space-icon-xxs, @space-icon-xxs, middle);
    	content: @icon-search;
    	opacity: 0.5;
    	font-size: @font-size-img-s;
    }
    &-m:after {
    	.bel-icon-main(@line-height: @line-height-s, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-search;
        opacity: 0.5;
        font-size: @font-size-img-m;
    }
    &-l:after {
    	.bel-icon-main(@line-height: @line-height-s, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-search;
        opacity: 0.5;
        font-size: @font-size-img-l;
    }
    &-xl:after {
    	.bel-icon-main(@line-height: @line-height-s, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-search;
        opacity: 0.5;
        font-size: @font-size-img-xl;
    }

    }

//70 icon credit-card, icono de la tarjeta de credito
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.


 .creditcard-icon:after{
 	content: @icon-credit-card;
 }

 .account-icon:after{
 	content: @icon-acccount;
 }

 .bel-search__results-item-icon {
    &-xs:after {
    	font-size: @font-size-img-xs;
    .bel-icon-main(@line-height: @line-height-s, 0px, 0px, middle);
    margin-top: -3px;
  }

    &-s:after {
    	.bel-icon-main(@line-height: @line-height-s, 0px, 0px, middle);
    	font-size: @font-size-img-s;
    	margin-top: -3px;
    }
    &-m:after {
    	.bel-icon-main(@line-height: @line-height-s, 0px, 0px, middle);
    	font-size: @font-size-img-m;
    	position: absolute;
  		margin-top: -3px;

    }
    &-l:after {
    	.bel-icon-main(@line-height: @line-height-s, 0px, 0px, middle);
    	font-size: @font-size-img-l;
    	margin-top: -3px;
    }
    &-xl:after {
    	.bel-icon-main(@line-height: @line-height-s, 0px, 0px, middle);
    	.bel-icon(@font-size-img-xl);
    	margin-top: -3px;
    }

    }


// icon-car, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-car {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-car;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-car;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-car;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-car;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-car;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-car;
    }
}
// icon-others, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-others {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-others;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-others;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-others;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-others;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-others;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-others;
    }
}
// icon-christmas, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-christmas {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-christmas;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-christmas;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-christmas;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-christmas;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-christmas;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-christmas;
    }
}
// icon-holidays, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-holidays {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-holidays;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-holidays;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-holidays;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-holidays;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-holidays;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-holidays;
    }
}
// icon-study, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-study {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-study;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-study;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-study;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-study;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-study;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-study;
    }
}
// icon-arrow-up, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-arrow-up {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-arrow-up;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-arrow-up;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-arrow-up;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-arrow-up;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-arrow-up;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-arrow-up;
    }
}
// icon-infotip, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-infotip {
	&-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-infotip;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-infotip;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-infotip;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-infotip;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-infotip;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-infotip;
    }
}

// icon-calendar, icono de la classe padre.
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-calendar {
	&-input{
		&-xxs:after {
	    	font-size: @font-size-img-xxs;
	    	.bel-icon-main(0px, 0px, 0px, middle);
	        content: @icon-calendar;
	    }
	    &-xs:after {
	    	font-size: @font-size-img-xs;
	    	.bel-icon-main(0px, 0px, 0px, middle);
	        content: @icon-calendar;
	    }
	    &-s:after {
	    	font-size: @font-size-img-s;
	    	.bel-icon-main(0px, 0px, 0px, middle);
	    	content: @icon-calendar;
	    }
	    &-m:after {
	    	font-size: @font-size-img-m;
	    	.bel-icon-main(0px, 0px, 0px, middle);
	        content: @icon-calendar;
	    }
     }
    &-xxs:after {
    	font-size: @font-size-img-xxs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
        content: @icon-calendar;
    }
    &-xs:after {
    	font-size: @font-size-img-xs;
    	.bel-icon-main(@line-height-m, @space-icon-xxs, @space-icon-xxs, middle);
       content: @icon-calendar;
    }
    &-s:after {
    	.bel-icon(@font-size-img-s);
    	content: @icon-calendar;
    }
    &-m:after {
    	.bel-icon(@font-size-img-m);
        content: @icon-calendar;
    }
    &-l:after {
    	.bel-icon(@font-size-img-l);
        content: @icon-calendar;
    }
    &-xl:after {
    	.bel-icon(@font-size-img-xl);
        content: @icon-calendar;
    }
}


.bel-select-close-icon::after {
	.bel-icon-select(@font-size-img-xs);
    content: @icon-arrow-down;
    .bel-icon-color(@color-bac-red);
    transition: .5s;
}
.bel-select-open-icon::after {

  transform: rotate(180deg);
}

.bel-select-disabled-icon:after {
	.bel-icon-select(@font-size-img-xs);
    content: @icon-arrow-down;
    .bel-icon-color(@color-medium-gray);
}

// iconos pata tooltip
// Los Hijos implementan el tama�o y el modificador del Pseudo elemento.
.bel-icon-question-tooltip:after {
  font-size: 12px;
  .bel-icon-main(1.7, -5.5px, 5.5px, initial);
  content: @icon-infotip;
  position: absolute;
}

.bel-icon-info-tooltip:after {
  font-size: 12px;
  .bel-icon-main(1.7, -6px, 6px, initial);
  content: @icon-info;
  position: absolute;
}
.bel-validation-icon{
	position: relative;
    right: 40px;
}
.bel-error-validation{
	.bel-icon-size(24px);
    border-radius: @border-radius-xxl;
  color: @color-dark-gray;
    transition: .5s;
    position: relative;
    display: inline-block;
    right: 38px;
    top: 6px;
}
.bel-loading-icon {
    background: url(../WebContent/resources/images/Spinner.svg) no-repeat 98%;
    background-size: 40px;
}
.bel-icon-info-tooltip:after {
  font-size: 12px;
  .bel-icon-main(1.7, -6px, 6px, initial);
  content: @icon-info;
  position: absolute;
}

.bel-icon-download::before {
  font-size: @font-size-img-xs;
  font-family: bluecredomatic-iconset;
  line-height: @line-height-m;
  margin-left: @space-icon-xxs;
  margin-right: @space-icon-s;
  vertical-align: middle;
  content: @icon-download;
}

.bel-icon-email::before, 
.bel-icon-email-m::before {
  font-size: @font-size-img-xs;
  font-family: bluecredomatic-iconset;
  line-height: @line-height-m;
  margin-left: @space-icon-xxs;
  margin-right: @space-icon-s;
  vertical-align: middle;
  content: @icon-email;
}

.bel-icon-email-m::before {
  font-size: @font-size-img-m;
}
  

.bel-icon-print::before {
  font-size: @font-size-img-xs;
  font-family: bluecredomatic-iconset;
  line-height: @line-height-m;
  margin-left: @space-icon-xxs;
  margin-right: @space-icon-s;
  vertical-align: middle;
  content: @icon-print;
}
